<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class="header detail-header-name">
        <span style="cursor: pointer;" (click)="back()">
          <i class="material-icons left">arrow_back</i>
        </span>
        {{product?.name}}
      </h2>
      <div class="card horizontal">
        <div class="card-image">
          <img *ngIf="product?.picture" [src]="product?.picture">
        </div>
        <div class="card-stacked">
          <div class="card-content detail-content">
            <!--<p>-->
              <!--<span>-->
                <!--<h5>Amount Left</h5>-->
              <!--</span>-->
              <!--{{product?.amount}}-->
            <!--</p>-->
            <!--<p>-->
              <!--<span>-->
                <!--<h5>Rating</h5>-->
              <!--</span>-->
              <!--{{product?.rating}}-->
            <!--</p>-->
            <p>
              <span>
                <h5>Price</h5>
              </span>
              {{product?.price | currency:'USD':true:'1.2-2'}}
            </p>
          </div>
          <div class="card-action detail-text-shopping-cart" *ngIf="product?.enabled">
            <a class="indigo-text text-darken-4" (click)="addToCart(product)">
              <i class="material-icons left">add_shopping_cart</i>
              Add to Shopping Cart
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          {{ product?.description }}
        </div>
      </div>
    </div>
  </div>
</div>

