<ul id="controlPanel" class="dropdown-content">

  <span *ngIf="hasRole('staff')">
    <li>
      <a routerLink="/manage-transaction">Transactions</a>
    </li>
    <li>
      <a routerLink="/manage-product">Manage Product</a>
    </li>
  </span>

  <span *ngIf="hasRole('admin')">
    <li class="divider"></li>
    <li>
      <a routerLink="/manage-user">Manage User</a>
    </li>
  </span>

</ul>
<nav class="indigo darken-4">
  <div class="row">
    <div class="col s12">
      <div class="nav-wrapper">

        <a>Woo Store</a>

        <ul class="right">

          <span>

            <li routerLinkActive="active">
              <a routerLink="/manage-cart">
                <i class="material-icons left">shopping_cart</i>Cart&nbsp;<span *ngIf="cartAmount > 0" class="new badge red">{{ cartAmount }}</span>
              </a>
            </li>

            <li routerLinkActive="active">
              <a routerLink="/list">
                <i class="material-icons left">view_list</i>Product List
              </a>
            </li>


          </span>

          <span *ngIf="!isLogin()">

            <li routerLinkActive="active">
              <a routerLink="/login">
                <i class="material-icons left">developer_board</i>Login
              </a>
            </li>

            <li *ngIf="!isLogin()" routerLinkActive="active">
              <a routerLink="/register">
                <i class="material-icons left">person_add</i>Register
              </a>
            </li>

          </span>

          <span *ngIf="isLogin()">

            <li>
              <a>
                <small>Welcome</small> {{ user?.firstName }} {{ user?.lastName }}<br>
              </a>
            </li>

            <li (click)="logout()">
              <a>
                <i class="material-icons left">open_in_browser</i>Logout
              </a>
            </li>

          </span>


          <span *ngIf="isLogin() && hasRole('staff')">
            <li>
              <a class="dropdown-button" href="#!" data-activates="controlPanel">
                Control Panel<i class="material-icons right">arrow_drop_down_circle</i>
              </a>
            </li>
          </span>

        </ul>

      </div>
    </div>
  </div>
</nav>
