<div>
  <div class="col l3">
      <app-search-product></app-search-product>
  </div>
  <div class="col l9">
    <div class="row">
      <div class="col s9 m3" *ngFor="let product of products">
        <div class="card">
          <div class="card-image">
            <img [src]="product.picture">
            <span class="card-title"> {{product.name}} </span>
          </div>
          <div class="card-content">
            <p> {{product.description}} </p>
            <p> {{product.price}} </p>
          </div>
          <div class="card-action">
            <a (click)="viewDetail(product)">Detail...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
