li.tab {
  cursor: pointer;
}
h5 {
  color: #888;
}
hr {
  background-color: #CCC;
  height: 1px;
  border: 0;
  margin: 20px 0;
}
.left-side {
  border-right: 1px solid #CCC;
}
.clickable {
  cursor: pointer;
}
